## Classes in Object Oriented Programming(OOP)

In [1]:
a = 23
print(type(a))

<class 'int'>

In [2]:
b = 34
print(type(b))

<class 'int'>

In [3]:
c = "Example"
print(type(c))

<class 'str'>

In [5]:
d = [1,2,3,4]
print(type(d)) #d = object belongs to class list

<class 'list'>

In [6]:
e = {
    "a" : 1,
    "b": 2,
}
print(type(e))

<class 'dict'>

In [7]:
s = {
    "roll_no": [101,102,103],
    "name": ["Sarthak","Raman","Aditi"]
}
print(type(s))

<class 'dict'>

In [8]:
import pandas as pd
df = pd.DataFrame(s)
df

   roll_no     name
0      101  Sarthak
1      102    Raman
2      103    Aditi

In [10]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

### Attributes Properties of Class DataFrame
1. df.shape
2. df.columns
3. df.index
4. df.dtypes
5. df.values

In [9]:
df.shape

(3, 2)

In [11]:
df.columns

Index(['roll_no', 'name'], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.dtypes

roll_no     int64
name       object
dtype: object

In [14]:
df.values

array([[101, 'Sarthak'],
       [102, 'Raman'],
       [103, 'Aditi']], dtype=object)

In [15]:
# Raw values are stored in array form

### Functions/ Methods of Class Datarame

In [16]:
df.head(2)

   roll_no     name
0      101  Sarthak
1      102    Raman

In [17]:
df.tail(1)

   roll_no   name
2      103  Aditi

In [18]:
# Round bracket - Function

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   name     3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [21]:
df.isna().sum()

roll_no    0
name       0
dtype: int64

In [22]:
# For Attributes round bracket is not used

### Custom CLass - Hoe to Create it?
### To create user defined class to store person defined information

In [23]:
# For class names - Name should start from capital letter

In [24]:
# First attribute of any class should be - self

In [37]:
class Person:

    # Constructor function in python - Define the attributes of class
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # Introduce method for class person
    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age} years old.")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [38]:
p1 = Person(name = 'Sarthak', age = 28, gender = 'male', occupation="HR")

In [39]:
p1 # for current working file name is stored as __main__

In [40]:
type(p1)

__main__.Person

### \_\_main_\_refers to current file in python

In [41]:
p1.name

'Sarthak'

In [42]:
p1.age

28

In [43]:
p1.gender

'male'

In [44]:
p1.occupation

'HR'

In [45]:
# Method of class person
p1.intro()

My name is Sarthak
I am 28 years old.
I am male
I work as a HR

In [46]:
p2 = Person(name = "Aditi", age = 32, gender = "female", occupation = "Data Scientist")
type(p2)

__main__.Person

In [47]:
p2

In [48]:
p2.name

'Aditi'

In [49]:
p2.age

32

In [50]:
p2.gender

'female'

In [51]:
p2.occupation

'Data Scientist'

In [53]:
p2.intro()

My name is Aditi
I am 32 years old.
I am female
I work as a Data Scientist

### Modifying the attribute

In [54]:
p2.age

32

In [55]:
p2.age = 33

In [56]:
p2.intro()

My name is Aditi
I am 33 years old.
I am female
I work as a Data Scientist

In [57]:
p3 = Person(name = True, age = "Example", gender = "HR", occupation = "male")

In [58]:
type(p3)

__main__.Person

In [59]:
p3.name

True

In [60]:
p3.age

'Example'

In [61]:
p3.gender

'HR'

In [62]:
p3.occupation

'male'

In [63]:
p3.intro()

My name is True
I am Example years old.
I am HR
I work as a male

In [64]:
# IF input value is not correct ans becomes wrong

### Create a dataclass using decorator

In [66]:
from dataclasses import dataclass
from typing import Literal

In [67]:
@dataclass
class Person2:
    name: str
    age : int
    gender: Literal["Male","Female"]
    occupation : str

    def __post_init__(self):
        errors = []

        if type(self.name) != str:
            errors.append("Name should be a string")
        if type(self.age) != int or self.age <= 0:
            errors.append("Age should be a positive integer")
        if self.gender not in ["male","female"]:
            errors.append("Gender should be male or female")
        if type(self.occupation) != str:
            errors.append("Occupation should be a string")

        # raise the errors
        if errors:
            raise ValueError("\n".join(errors))
        
    def talk(self):
        print(f"My name is {self.name}")
        print(f"I am {self.age}")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

In [69]:
p3 = Person2(name = "Raman", age = 28, gender= 'male', occupation="Purchase Engg.")

In [70]:
p3

Person2(name='Raman', age=28, gender='male', occupation='Purchase Engg.')

In [71]:
# Decorator - modify behaviour of existing func

In [73]:
p3.name

'Raman'

In [74]:
p3.age

28

In [75]:
p3.gender

'male'

In [76]:
p3.occupation

'Purchase Engg.'

In [77]:
p3.talk()

My name is Raman
I am 28
I am male
I work as a Purchase Engg.

In [80]:
p4 = Person2(name="Rahul",age = -20, gender = "male",occupation="sales engg.")

ValueError: Age should be a positive integer

In [81]:
p4 = Person2(name=23,age=-34,gender="HR",occupation=34.5)

ValueError: Name should be a string
Age should be a positive integer
Gender should be male or female
Occupation should be a string

In [82]:
# If we doesn't validate data we will ahve security problems in future.

In [83]:
p5 = Person2(name="Rahul",age = 20, gender = "male",occupation="sales engg.")

In [84]:
p5

Person2(name='Rahul', age=20, gender='male', occupation='sales engg.')

In [85]:
p5.name

'Rahul'

In [86]:
p5.age

20

In [87]:
p5.gender

'male'

In [88]:
p5.occupation

'sales engg.'

In [90]:
p5.talk()

My name is Rahul
I am 20
I am male
I work as a sales engg.